div#errorsList { position: absolute; width: 300px; left: 250px; top: 120px; text-align: center; background-color: #ff8a8a; border: 1px solid red; padding: 10px; }
div#errorsList div.button { margin: 10px 0 0 0; }
div#infosList { background-color: #aaffaa; border: solid green 1px; padding-left: 10px; margin: 0 10px 10px 0; }

#body { float: center; background: #d0d0d0; padding: 0; margin: 0; }
.page { width: 1100px; margin: 0 auto; background: white; padding: 20px; }
.login { float: right; margin-top: 10px; }
.login .name { font-weight: bold; font-size: 1.1em; }
.description { margin-top: 5px; font-style: italic; }
input { background: #fff2cc; height: 25px; }
input.password { background: red; width: 250px; }
input.button { background: #5b9bd5; color: white; font-weight: bold; width: 100px; height: 30px; border: 0; }
table.eventList { margin: 20px 0 20px 0; border-spacing: 0; border-collapse: collapse; border: 2px solid black; }
table.eventList tr.header { background: #d0d0d0; border: 1px solid black; }
table.eventList th { text-align: left; vertical-align: bottom; font-weight: normal; padding: 8px; }
table.eventList th.name { width: 750px; }
table.eventList th.price { width: 100px; }
table.eventList th.reserve { width: 200px; }
table.eventList td { padding: 5px; }
table.eventList tr:hover { background: #e0e0e0; }
table.resource { margin-top: 20px; border-spacing: 0; border-collapse: collapse; border: 2px solid black; width: 1100px; }
table.resource td.name { width: 950px; }
table.reservation { width: 1100px; }
table.reservation th.number { width: 200px; }
table.reservation th.place { width: 200px; }
table.reservation th.subject { width: 600px; }
table.slot { border-spacing: 0; border-collapse: collapse; }
table.slot td { padding: 0 2px; border: 1px solid black; }
table.slot td.free { background: #bbffbb; }
table.slot td.free a { text-decoration: none; color: black; }
table.slot td.occupied { background: #ffbbbb; }
table.slot td.na { background: #bbbbbb; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.legend_free { width: 50px; height: 20px; background: #bbffbb; }
.legend_occupied { width: 50px; height: 20px; background: #ffbbbb; }
.legend_na { width: 50px; height: 20px; background: #bbbbbb; }
.confirmDialog { margin-bottom: 20px; }
.confirmDialog .text { width: 220px; }
.confirmDialog .title { font-weight: bold; }
.confirmDialog .subject { font-weight: bold; font-size: 1.1em; margin: 15px 0; }
.confirmDialog .comment { font-weight: bold; }
.confirmDialog table td.bold { font-weight: bold; }

form.normal { margin: 20px 0 20px 0; }
form.normal span.description { font-style: italic; }
form.normal div.title { font-size: 1.3em; margin: 10px 0; }

div.registrationFill label { width: 250px; float: left; }
div.registrationFill input.text { width: 180px; }

div.gridTable { clear: both; }
div.gridTable div.gridNoData { text-align: left; font-size: 0.8em; font-weight: bold; }
div.gridTable table th { border: 1px solid black; background: #7b7b7b; color: white; font-weight: normal; }
div.gridTable table tr.cancelled td { color: gray; font-style: italic; }
div.gridTable table tr.realised td { color: green; }
div.gridTable table tr td.tdAction { color: black; font-style: normal; font-weight: normal; }
div.gridTable table td { padding-right: 5px; padding-left: 3px; vertical-align: top; }
div.gridTable table td.tdLeft { text-align: left; }
div.gridTable table td.tdRight { text-align: right; }
div.gridTable table td.tdCenter { text-align: center; }
