<?php

$DEBUG = false;
$HTTPS = true;
$MOD_REWRITE = true;

#$DOWN = 'Service is down until 2017/04/17 04:00am.';

$NODE_ID = '<unique string>';
$NODE_URL = '';

$TMP_DIR = '/tmp/';

// prihlasovaci udaje do databaze
$DB = array(
	'user' => '',
	'password' => '',
	'server'   => 'localhost',
	'database' => '',
	'encoding' => 'utf8',
);

$NOTIFICATION_LOCK_FILE = '/tmp/flexbook_notification.lock';
$NOTIFICATION_ERROR_COUNT_TO_NOTIFY = 5;
$NOTIFICATION_DEBUG_EMAIL = null;
$NOTIFICATION_ADMIN_EMAIL = '';
$NOTIFICATION_SMTP_HOST = '';
$NOTIFICATION_SMTP_PORT = '465';
$NOTIFICATION_SMTP_SECURE = 'ssl';
$NOTIFICATION_SMTP_USER = '';
$NOTIFICATION_SMTP_PASSWORD = '';

$PAYMENT_GATEWAY = array(
	'source' => array(
		'csob' => array(
			'logFile'     => dirname(__FILE__).'/../../log/csob.log',
			'url'         => 'https://iapi.iplatebnibrana.csob.cz/api/v1.7',
			'key'         => dirname(__FILE__).'/../keys/mips_iplatebnibrana.csob.cz.pub',
		),
		'gpwebpay' => array(
			'logFile'     => dirname(__FILE__).'/../../log/gpwebpay.log',
			'url'         => 'https://test.3dsecure.gpwebpay.com/pgw/order.do',
			'urlWS'       => 'https://test.3dsecure.gpwebpay.com/pay-ws/v1/PaymentService',
			'key'         => dirname(__FILE__).'/../keys/gpe.signing_test.pem',
		),
		'comgate' => array(
			'logFile'       => dirname(__FILE__).'/../../log/comgate.log',
			'url'           => 'https://payments.comgate.cz/v1.0',
			'pushReferer'   => array('::1'),
			'minimalAmount' => 100,
		),
		'deminimis' => array(
			'logFile'       => dirname(__FILE__).'/../../log/deminimis.log',
			'gwUrl'         => "$NODE_URL/deminimis_gw.php",
			'attr_ic'				=> 'deminimis_ic',
			'apiUrl'        => '',
			'apiKey'   			=> '',
		),
	),
	'initUrl' => "$NODE_URL/payment.php?action=ePaymentGatewayInit&language=%s&sessid=%s&provider=%s",
	'backUrl' => "$NODE_URL/payment.php?action=ePaymentGatewayFinish&sessid=%s",
);

?>
